@using Microsoft.AspNetCore.Authorization
@using InventoryManager.Security
@model List<InventoryManager.Models.Item>
@inject IAuthorizationService AuthorizationService

<h1>@ViewBag.title</h1>

<form method="post">

    @{
        var requirement = new ManageItemAccessRequirement();
        foreach (var item in Model)
        {
            var authorizationResult = await AuthorizationService.AuthorizeAsync(User, item, requirement);
            if (authorizationResult.Succeeded)
            {
                <input type="checkbox" name="itemIds" id="@item.ID" value="@item.ID" />
                <label for="@item.ID">@item.Description</label>
                <br />
            }
        }
    }

    <input type="submit" value="Mark Selected Item(s) Discontinued" class="btn btn-primary" />
    <a asp-controller="Item" asp-action="Index" class="btn btn-danger">Cancel</a>
</form>